
# 1. PostgreSQL (for auth-service)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=ecommerce_auth_db
POSTGRES_PORT=5432

# 2. SQL Server (for user/order-service)
SQLSERVER_USER=sa
SQLSERVER_SA_PASSWORD=YourStrongPassword!123
SQLSERVER_DB=ecommerce_user_db
SQLSERVER_PORT=1433

# 3. Security & JWT Configuration
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=604800000

# 4. Services Port Mapping
GATEWAY_PORT=8080
AUTH_SERVICE_PORT=8081
USER_SERVICE_PORT=5059